<div class="modal-body" sb-spinner="isLoaderActive">

    <tabset justified="true">
        <tab heading="Query options" active="isQueryTabActive" select="selectQueryTab()">
            <form role="form">
                <div class="form-group">
                    <label for="queryText" class="control-label">Query Text</label>
                    <textarea id="queryText"
                              ng-model="formData.queryText"
                              code-mirror-ide
                              placeholder="Insert your query here.."></textarea>
                </div>
                <div class="form-horizontal">
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label for="graphIRI" class="control-label">Default Data Set Name</label>
                        </div>
                        <div class="col-sm-9">
                            <input id="graphIRI" type="text" class="form-control input-sm"
                                   placeholder="http://dbpedia.org"
                                   ng-model="formData.defaultDataSet"/>
                        </div>
                    </div>
                    <div class="row form-group form-group-sm">
                        <div class="col-sm-3">
                            <label for="executionTimeout" class="control-label">Execution timeout</label>
                        </div>
                        <div class="col-sm-9">
                            <input id="executionTimeout" type="number" class="form-control input-sm"
                                   ng-model="formData.timeout"/>
                        </div>
                    </div>
                    <div class="row form-group form-group-sm">
                        <div class="col-sm-3">
                            <label for="queryOptions">Options:</label>
                        </div>
                        <div class="col-sm-9">
                            <div id="queryOptions" class="checkbox">
                                <span>
                                    <input type="checkbox" ng-model="formData.option"/>
                                    Strict checking of void variables
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="submit" class="btn btn-primary" ng-click="executeQuery()">Submit</button>
                </div>
            </form>
        </tab>
        <tab heading="Results" active="isResultsTabActive" disabled="isResultsTabDisabled" select="selectResultsTab()">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th ng-repeat="headerColumn in resultsTableData.headerColumns">{{headerColumn}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in resultsTableData.currentPageTableRows">
                        <td ng-repeat="columnData in row.rowColumns">
                            <span ng-if="!isResource(columnData)">{{columnData.value}}</span>
                            <a href="#" ng-if="isResource(columnData)" ng-click="visualizeResource(columnData)" >{{columnData.value}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align: center;">
                <pagination total-items="pagerConfig.totalItems"
                            items-per-page="pagerConfig.itemsPerPage"
                            max-size="pagerConfig.maxSize"
                            ng-model="pagerConfig.currentPage"
                            ng-model="pagerConfig.currentPage"
                            ng-change="updatePagination()"></pagination>
            </div>
        </tab>
    </tabset>

</div>