.body {
    margin: 0;
}
.page {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.header {

}
.main {
    top: 60px;
    bottom: 20px;
}

.footer {
    height: 20px;
    bottom: 0;
    text-align: right;
    padding: 0 10px;
}
.footer-nav {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
}

.sidebar {
    display: table;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.content {
    left: 5px;
    right: 0;
}

.sb-split-screen {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 5px;
    left: 0;
    background-color: darkgray;
    cursor: e-resize;
}
.sb-split-screen:active {
    -webkit-box-shadow: 2px 0 2px 0 rgba(50, 50, 50, 0.18),
                       -2px 0 2px 0 rgba(50, 50, 50, 0.18);
    -moz-box-shadow:    2px 0 2px 0 rgba(50, 50, 50, 0.18),
                       -2px 0 2px 0 rgba(50, 50, 50, 0.18);
    box-shadow:         2px 0 2px 0 rgba(50, 50, 50, 0.18),
                       -2px 0 2px 0 rgba(50, 50, 50, 0.18);
}

.sb-panel {
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 4px;
}

.sb-panel-rounded {
    border-radius: 4px;
}

.sidebar .sb-panel {

}

.form-group {
    margin-bottom: 10px;
}

.form-control {
    border-radius: 0;
}

.form-horizontal .control-label {
    text-align: left;
}


.sb-left.sb-col {
    width: 400px;
}
.sb-right.sb-col {
    /*full size with left: -5px*/
    left: 400px;
    right: 0;
}

.sb-row {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
}
.sb-col {
    position: absolute;
    overflow: auto;
    top: 0;
    bottom: 0;
}
.sb-fill {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*Bookmarks window*/
.sb-bookmarks {
    width: 270px;
    padding: 15px 15px 10px 15px;
    text-align: left;
}
.sb-bookmarks-title {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    color: #777;
}

/* Bootstrap overrides */
.btn {
    border-radius: 0;
}

.btn-primary {
    border-color: #457335;
    background-color: #548235;
    /*background-color: rgba(84, 130, 53, 0.9);*/
    color: #ffffff;
}
.btn-primary:hover {
    /*  background-color: rgba(84, 130, 53, 0.9);*/
    border-color: #366431;
    background-color: #457335;
    color: #ffffff;
}

.pagination > li > a {
    border-color: #457335;
    background-color: #548235;
    /*background-color: rgba(84, 130, 53, 0.9);*/
    color: #ffffff;
}

.pagination > .active > a {
    border-color: #457335;
    background-color: #548235;
    /*background-color: rgba(84, 130, 53, 0.9);*/
    color: #ffffff;
}


.pagination > .active > a {
    border-color: #457335;
    background-color: #548235;
    /*background-color: rgba(84, 130, 53, 0.9);*/
    color: #ffffff;
}

/* bootstrap 3.3.1 fix */
.modal-backdrop {
    bottom: 0;
}