<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span style="padding-right: 4px" ng-bind="currentEndpointName"></span>
    <span class="caret"></span>
</button>
<div class="dropdown-menu" role="menu">
    <div class="sb-endpoints-container">
        <input type="text"
               ng-model="searchEndpoint"
               class="form-control input-sm"
               placeholder="Search endpoint"/>
        <div class="sb-endpoints-list">
            <div ng-repeat="endpoint in endpoints | filter:searchEndpoint" ng-click="selectEndpoint(endpoint)"
                 class="sb-endpoints-list-item">
                <div class="sb-endpoints-list-item-name">{{endpoint.name}}</div>
                <div class="sb-endpoints-list-item-uri">{{endpoint.location}}</div>
            </div>
        </div>
    </div>
</div>
