#literals {
    overflow: auto;
    float: left;
    width: 300px;
}
#graph {
    overflow: hidden;
    padding-left: 10px;
}

.resajz {
    float: left;
    border-right: 5px solid #080808;
    cursor: e-resize;
    margin-left: 5px;
    margin-right: 5px;
}

#sidebar-resizer {
    background-color: #666;
    /*
        position: absolute;
    */
    top: 35px;
    bottom: 0;
    left: 200px;
    width: 6px;
    cursor: e-resize;
}
#content-resizer {
    position: absolute;
    height: 6px;
    bottom: 130px;
    left: 0;
    right: 0;
    background-color: #666;
    cursor: n-resize;
}

#sidebar-resizer:hover, #preview-resizer:hover {
    background-color: #AAA;
}

/* TODO: fix this with auto width */
.navbar-form {
    width: 690px;
}