<div class="container" ng-controller="MainCtrl">
    <div class="header row">
        <!--<div ng-include="'views/navbar.html'" ng-controller="MainCtrl"></div>-->

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="addressBar"/>
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="btnGoClick()">
                                    <span class="glyphicon glyphicon-globe" ng-show="isResource()"></span>
                                    <span class="glyphicon glyphicon-search" ng-hide="isResource()"></span>
                                </button>
                              </span>
                        </div><!-- /input-group -->
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>

    <div class="content row" resizable>
        <!--<div ng-include="'views/main.html'" ng-controller="MainCtrl"></div>-->

        <div id="literals" class="">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

            <div class="well well-sm">

                <div style="margin-bottom: 10px">
                      <span>
                          <b>Resource name</b>
                      </span>
                </div>

                <div id="abstarct-content" style="text-align: justify">
                    <img style="margin-left: 20px; width: 90px; height: 100px"
                         src="https://lh4.googleusercontent.com/-l9AijjgWVZM/AAAAAAAAAAI/AAAAAAABqlc/7IoQt2FfdwY/photo.jpg"
                         class="pull-right"
                         data-toggle="modal" data-target="#myModal"  />

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor faucibus dapibus. Donec vestibulum nisi a arcu consequat convallis. Vestibulum tincidunt ipsum quis mauris laoreet, sit amet imperdiet nunc commodo.
                </div>

            </div>

            <div class="well well-sm" style="overflow-y: auto">
                <table class="table table-bordred table-striped">
                    <thead>
                    <th>Literals</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div>
                                <h5 style="border-bottom: solid #000000">Name of the resource</h5>
                                <div class="">
                                    https://github.com/IronSummitMedia/
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <h5 style="border-bottom: solid #000000">Name of the resource</h5>
                                <div class="">
                                    https://github.com/IronSummitMedia/
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div resizer class="resajz"></div>

        <div id="graph" class="">

            <h3>Graph</h3>

        </div>

        <!--  <div id="sidebar-resizer"
               resizer="vertical"
               resizer-width="6"
               resizer-left="#literals"
               resizer-right="#graph"
               resizer-max="400">
          </div>-->
    </div>

    <div class="footer row">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
    </div>
</div>
