<div class="dropdown" dropdown>
    <button class="navbar-item-control dropdown-toggle" dropdown-toggle title="Options">
        <span class="glyphicon glyphicon-align-justify"></span>
    </button>
    <div class="dropdown-menu" role="menu">
        <div class="dropdown-menu-item" ng-click="sparqlEditor()">Sparql editor</div>
        <div class="divider"></div>
        <div class="dropdown-menu-item" ng-click="settings()">Settings</div>
        <div class="divider"></div>
        <div class="dropdown-menu-item" ng-click="about()">About</div>
        <div class="dropdown-menu-item" ng-click="help()">Help</div>
    </div>
</div>