<div class="header navbar navbar-default" role="navigation">
    <!--Brand and toggle get grouped for better mobile display-->
    <!--            <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>-->

    <div class="container-fluid">

        <div class="navbar-left">
            <div class="navbar-item">
                <div class="navbar-item-cell">
                    <div class="dropdown">
                        <button class="navbar-item-control dropdown-toggle" data-toggle="dropdown"
                                title="Click to go back, right click to see history">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">resource</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Show full history</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="navbar-item">
                <div class="navbar-item-cell">
                    <div class="dropdown">
                        <button class="navbar-item-control dropdown-toggle" data-toggle="dropdown"
                                title="Click to go forward, right click to see history">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="navbar-item">
                <div class="navbar-item-cell">
                    <button class="navbar-item-control" title="Reload this resource">
                        <span class="glyphicon glyphicon-repeat"></span>
                    </button>
                    <button class="navbar-item-control" title="Stop resource loading" style="display: none;">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-item">
                <div class="navbar-item-cell">
                    <button class="navbar-item-control" title="Go to home resource" disabled="disabled">
                        <span class="glyphicon glyphicon-home"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="navbar-right">
            <div class="navbar-item">
                <div class="navbar-item-cell">
                    <div class="dropdown">
                        <button class="navbar-item-control dropdown-toggle" data-toggle="dropdown"
                                title="Bookmark this resource">
                            <span class="glyphicon glyphicon-star"></span>
                        </button>
                        <div class="sb-bookmarks dropdown-menu" role="menu">
                            <div class="sb-bookmarks-title">Bookmarks</div>
                            <form class="form-horizontal" role="form">
                                <div class="form-group form-group-sm">
                                    <div class="col-sm-3">
                                        <label for="txtBookmarkName" class="control-label">Name:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtBookmarkName"/>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <div class="col-sm-3">
                                        <label for="txtBookmarkFolderName" class="control-label">Folder:</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtBookmarkFolderName"/>
                                    </div>
                                </div>
                            </form>
                            <div class="pull-right">
                                <button class="btn btn-default btn-sm">Remove</button>
                                <button class="btn btn-default btn-sm">Edit</button>
                                <button class="btn btn-primary btn-sm">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-item">
                <div class="navbar-item-cell">
                    <div class="dropdown">
                        <button class="navbar-item-control dropdown-toggle" data-toggle="dropdown" title="Options">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a>Action</a></li>
                            <li><a>Execute </a></li>
                            <li><a>About</a></li>
                            <li class="divider"></li>
                            <li><a>Help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-center">
            <div class="navbar-center-item">
                <div class="navbar-item-cell" sb-address-bar>
                    <!--<div class="input-group input-group-sm">
                        <div class="input-group-btn dropdown" sb-choose-endpoint></div>
                        <input type="text"
                               class="form-control"
                               ng-model="navigation.addressBar"
                               placeholder="Search for a resource"
                               typeahead="resource for resource in searchResource(navigation.addressBar)"
                               typeahead-loading="loadingResources"
                               typeahead-min-length="3"
                               typeahead-wait-ms="300">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>&lt;!&ndash; /input-group &ndash;&gt;-->
                    <!--<input type="text" class="form-control input-sm" placeholder="Search"/>-->
                </div>
            </div>
        </div>

    </div>
</div>