.sb-resource-literals{
    display: table-row;
    height: 100%;
    font-size: 13px;
}
.literals-container {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    margin-bottom: -2px;
}
.literals-container.sb-panel {
    padding: 0;
    margin: 0;
}
.sb-literal-item {
    padding: 10px;
    border-bottom: 1px solid rgba(84, 130, 53, 0.9);
}
.sb-literal-item:hover {
    background-color: rgba(150, 216, 76, 0.20);
}

button.close {
    margin-top: -5px;
}
button.close .glyphicon-cog {
    font-size: 14px;
}

.sb-literal-item-title {
    font-size: 16px;
    line-height: 20px;
}

.sb-literal-item-separator {
    border-bottom: 1px solid #ddd;
    margin-left: -4px;
    margin-right: 50px;
    margin-bottom: 10px;
}

/* Literals hide animation */
.animate-hide {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
}

.animate-hide.ng-hide {
    line-height: 0;
    opacity: 0;
}
